/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.hiddenInput {
    display: none;
}

#gridAd {
    width: 316px;
    /*    height: 256px; */
    position: relative;
    max-height: 500px;
    margin-top: 10px;
}

.modal-body {
    text-align: center;
    height: auto;
}

div.posterImage {
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    background-color: #FFFD88;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(217, 169, 169);
    border-style: solid;
}

.myImg {
    max-width: 100%;
    height: 360px;
}

#myImg {
    max-width: 90%;
    max-height: 360px;
}

.ui-autocomplete {
    max-height: 200px;
    max-width: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.check-box {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

    .check-box:checked {
        background-color: darkgreen;
    }

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #0267cd;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(79, 205, 27, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #e6fbff;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

span.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

span.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.thumb-image {
    width: 200px;
    position: relative;
    padding: 5px;
    border-radius: 5%;
}

.edit-thumb-image {
    width: 350px;
    position: relative;
    padding: 5px;
    border-radius: 5%;
}

.modal-backdrop {
    opacity: 0.5 !important;
}

.watchItemPhoto {
    max-width: 300px;
    max-height: 300px;
}

.trashWatchItem {
    float: left;
    margin-right: 10px;
}

.forwardWatchItem {
    float: left;
}

.watchItemIcons {
    padding-left: 20px;
}

.usersList {
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

.menuAnimalSpecies {
    display: none;
}

.chatImage {
    max-height:125px;
}
